.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  background-color: transparent;
  padding: 32px 0 16px;
  z-index: 1000;
  transition: top 0.3s ease;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px 32px;
    background-color: rgba(0, 9, 55, 0.245);
    backdrop-filter: blur(10px);
    border: solid white 1px;
    border-radius: 9999px;
    background-clip: padding-box;

    &--elements {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: 600;
      padding: 5px;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 16px;
    z-index: 1100;

    .burger-line {
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    .burger-line.open:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .burger-line.open:nth-child(2) {
      opacity: 0;
    }
    .burger-line.open:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
@media (max-width: 1440px) {
  .navbar {
    width: 100%;
    left: 0;
    transform: none;
    padding: 16px 0;

    &__container {
      width: 100%;
      justify-content: flex-start;
      padding: 0 16px;
    }

    &__burger {
      display: flex;
    }

    &__tabs {
      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      background-color: rgba(0, 9, 55, 0.95);
      backdrop-filter: blur(10px);
      border-radius: 0;
      border: none; /* убираем белую рамку */
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 24px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;

      &.navbar__tabs--open {
        max-height: 500px;
        overflow: visible;
      }
    }
  }
}
