.main {
  &__ninth {
    background-color: white;
    width: 100vw;
    padding: 80px 0;
    display: flex;
    justify-content: center;
  }
  &__ninth-element {
    width: 1440px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__ninth-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__ninth-text-privacy {
    width: 620px;
    text-align: center;
  }
}

@media (max-width: 1440px) {
  input {
    width: 300px !important;
  }
  .main {
    &__ninth-text-privacy {
      width: 300px;
    }
  }
}
